<h2>Register</h2>
<form (ngSubmit)="signup()" #registerForm="ngForm"> 
    <div class="form-group">
        <label for="username">Email</label>        
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="login.email" required #email="ngModel" name="email">
        <div *ngIf="submitted && email.errors" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email es requerido</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="login.password" #password="ngModel" name="password"/>
        <div *ngIf="submitted && password.errors" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password es requerido</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="!registerForm.form.valid" class="btn btn-primary" type="submit">Register</button>
        
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
</form> 