<header class="col-12 top-header">
  <div class="row justify-content-between">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3  left-header">
      <a class="toggle-sidebar" (click)="open()">
        <i class="fa fa-bars"></i>
      </a>
      <h1>My Books App</h1>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 right-header">
      <div class="row align-items-center top-form">
        <div class="col-6">
          <app-search-form (searchText)="searchBooks($event)"></app-search-form>
        </div>
        <div class="col-6">
          <a class="link-profile">
            <img [src]="user?.photoURL" (click)="onNavImageClick()">
                <div class="user-window" [@popupAnimation]="popupState" [ngClass]="((popupState == 'closed') ? 'user-window-hidden': '')">
                  <div id="user-window-top">
                    <img [src]="user?.photoURL" class="user-window-image">
                      <div class="user-window-info">
                          <div id="user-window-name">{{user?.displayName}}</div>
                          <div id="user-window-joined">joined {{user?.metadata.creationTime}}</div>
                    </div>
                  </div>  
                   <div id="user-window-bottom">
                   </div>
                </div>       
          </a>
        </div>
      </div>
    </div>
  </div>
</header>